﻿@model VoySearcher.Web.ViewModels.IndexViewModel

@{
    ViewBag.Title = "VoySearcher";
}

@if (!Model.HasError)
{
    using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <label>Search word(s)</label>
        @Html.TextBoxFor(m => m.InputFieldText)
        <input type="submit" value="Search!" />
    }

    <table>
        <thead>
            @foreach (var item in Model.SearchResultItems)
            {
                <tr>@item.Provider: @item.SearchResultAmount</tr>
                <br />
            }
        </thead>
    </table>
}
else
{
    <h3>@Model.ErrorMessage</h3>
}
